
.rootContainer {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  searchBar {
    height: 40;
    borderColor: gray;
    borderWidth: 1;
    marginBottom: 16;
    paddingHorizontal: 8;
  }
  
  gridContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16;
  }
  
  gridItem {
    width: 30%;
    margin-bottom: 16;
  }
  
  navigatorContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  
  navigatorButton {
    flex: 1;
    padding: 16;
    background-color: lightblue;
    align-items: center;
  }
  
  navigatorButtonDisabled {
    opacity: 0.5;
  }